/* CADPO */
body {
    font-family: 'Segoe UI', sans-serif; 
    background-color: #0d0615;           
    display: flex;                       /* Centra horizontalmente */
    justify-content: center;             /* Centra horizontalmente */
    align-items: center;                 /* Centra verticalmente */
    height: 100vh;                       /* Ocupa toda la pantalla */
    margin: 0;                           
}


.card {
    width: 300px;                        /* Ancho de la tarjeta */
    padding: 40px;                       /* Espaciado interno */
    border-radius: 15px;                 /* Esquinas redondeadas */
    background: #6d6d5f;                
    box-shadow: 0px 15px 25px rgba(179, 179, 0, 0.6),
     -5px -5px 10px rgba(255, 255, 255, 0.8); /* Sombras neumórficas */
    text-align: center;                   
}


h2 {
    color: #4a148c;                      
    margin-bottom: 30px;                  /* Espacio inferior */
    font-weight: 600;                     /* Grosor de la letra */
    letter-spacing: 1px;                  
}


input {
    width: 100%;                          
    padding: 15px;                        
    margin-bottom: 20px;                  /* Espacio inferior */
    border: none;                          /* Sin borde */
    border-radius: 10px;                  /* Esquinas redondeadas */
    background: #6d6d5f;                
    color: #4a148c;                      
    box-sizing: border-box;              
    box-shadow: inset 6px 6px 12px #5a5a5a,
                inset -6px -6px 12px #8f8f8f; /* Sombra interna clara y oscura */
}


input::placeholder {
    color: #9575cd;                       /* Color del texto de sugerencia */
}


button {
    width: 100%;                         
    padding: 15px;                        /* Espaciado interno */
    margin-top: 10px;                     /* Espacio superior */
    border: none;                       
    border-radius: 50px;                  /* Esquinas muy redondeadas */
    background: #6d6d5f;                  
    color: #4a148c;                      
    font-weight: bold;                  
    cursor: pointer;                      /* Cursor de mano */
    box-shadow: 6px 6px 12px #5a5a5a,
                -6px -6px 12px #8f8f8f;  /* Sombras neumórficas */
    transition: all 0.2s ease;            /* Transición suave */
}


button:hover {
    color: #6d6d5f;                       /* Color del texto al pasar el mouse */
}


button:active {
    box-shadow: inset 4px 4px 8px #5a5a5a,
                inset -4px -4px 8px #8f8f8f; /* Sombra interna */
}
